<h1>Sample Person<h1>

<p>This is a sample home page. Unlike most typical home pages, this one is in the same website as a very dynamic resume that can be sorted based on different tags and customized by both the creater and the user. Click on the resume above to see more!</p>
