<%= render 'sub_nav' %>
<p>A list of the resumes you can find. Feel free to mix and match between all the different resume types, the resume will dynamically change for you!</p>

<ul><% @all_tags.each do |tag| %>
	<li><%= link_to tag.title, tag_path(:title => tag.title) %></li>
<% end %></ul>
