<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Example Resume", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Home", root_path %></li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Resume</a>
        <ul class="dropdown">
          <li><%= link_to "General Information", resume_path %></li>
          <li><label>Featured Resumes</label></li>
          <% @tags.each do |tag| %>
            <li><%= link_to tag.title, tag_path(:title => tag.title) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
    </ul>
  </section>
</nav>